* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #3A1078;
    display: grid;
    place-content: center;
}

.calculadora {
    background-color: #4E31AA;
    color: #F7F7F8;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

}

.pantalla {
    grid-column: 1 / -1;
    background-color: #3A1078;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    overflow: hidden;
}

.btn {
    background-color: #3795BD;
    color: #F7F7F8;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #3A1078;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #3A1078;
}

#igual:hover {
    background-color: #3795BD;
}